1.INSTALLING LIBRARIES

In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vandita\anaconda3\lib\site-packages (9.5.0)

In [30]:
import os
import json
import requests
import pandas as pd
from mysql import connector
from dotenv import load_dotenv

In [4]:
load_dotenv()

True

2.EXTRACTING DATA FROM API

In [107]:
API_KEY=os.getenv("API_KEY")
LEAGUE_ID=4328

In [ ]:
url=f"https://www.thesportsdb.com/api/v1/json/{API_KEY}/lookuptable.php"
querystring={"l":LEAGUE_ID}

In [105]:
response=requests.get(url=url,params=querystring)
print(response.status_code)

200

In [106]:
payload=response.json()

Formatting the response

In [109]:
formatted_response=json.dumps(payload,indent=4)

3.TRANSFORMING THE EXTRACTED DATA

In [9]:
import pandas as pd

df = pd.DataFrame(payload["table"])
display(df.head())

,idStanding,intRank,idTeam,strTeam,strBadge,idLeague,strLeague,strSeason,strForm,strDescription,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints,dateUpdated
0,6300381,1,133604,Arsenal,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWWWD,Promotion - Champions League (League phase: ),9,7,1,1,16,3,13,22,2025-10-31 23:00:01
1,6300382,2,134301,Bournemouth,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WDWDD,Promotion - Champions League (League phase: ),9,5,1,3,16,11,5,18,2025-10-31 23:00:01
2,6300383,3,133616,Tottenham Hotspur,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WLWDD,Promotion - Champions League (League phase: ),9,5,2,2,17,7,10,17,2025-10-31 23:00:01
3,6300384,4,133603,Sunderland,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWLWD,Promotion - Champions League (League phase: ),9,5,2,2,11,7,4,17,2025-10-31 23:00:01
4,6300385,5,133613,Manchester City,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,LWWWD,Promotion - Europa League (League phase: ),9,5,3,1,17,7,10,16,2025-10-31 23:00:01

In [10]:

print(df.columns.tolist())

['idStanding', 'intRank', 'idTeam', 'strTeam', 'strBadge', 'idLeague', 'strLeague', 'strSeason', 'strForm', 'strDescription', 'intPlayed', 'intWin', 'intLoss', 'intDraw', 'intGoalsFor', 'intGoalsAgainst', 'intGoalDifference', 'intPoints', 'dateUpdated']

In [11]:
df = df[['intRank', 'intPoints', 'idTeam','strTeam',"intPlayed",'intWin','intLoss','intDraw','intGoalsAgainst','intGoalDifference','strForm']]
display(df.head())

,intRank,intPoints,idTeam,strTeam,intPlayed,intWin,intLoss,intDraw,intGoalsAgainst,intGoalDifference,strForm
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

Renaming columns

In [16]:
df = df.rename(columns={
    'intRank': 'Rank',
    'intPoints': 'Points',
    'idTeam': 'Team id',
    'strTeam':'Team Name',
    'intPlayed':'Played',
    'intWin':'Win',
    'intLoss':'Loss',
    'intDraw':'Draw',
    'intGoalsAgainst':'GoalsAgainst',
    'intGoalDifference':'Goal Difference',
    'strForm':'Form'
})

display(df.head())

,Rank,Points,Team id,Team Name,Played,Win,Loss,Draw,GoalsAgainst,Goal Difference,Form
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

In [ ]:
#df.info()
#print(df.dtypes)


# converting to neumeric data types

df['Rank'] = df['Rank'].astype(int)
df['Points'] = df['Points'].astype(int)
df['Team id'] = df['Team id'].astype(int)
df['Played'] = df['Played'].astype(int)
df['Win'] = df['Win'].astype(int)
df['Loss'] = df['Loss'].astype(int)
df['Draw'] = df['Draw'].astype(int)
df['GoalsAgainst'] = df['GoalsAgainst'].astype(int)
df['Goal Difference'] = df['Goal Difference'].astype(int)

Changing the data types

In [25]:
print(df.dtypes)

Rank                int64
Points              int64
Team id             int64
Team Name          object
Played              int64
Win                 int64
Loss                int64
Draw                int64
GoalsAgainst        int64
Goal Difference     int64
Form               object
dtype: object

Renaming the dataframe

In [34]:
standings=df
display(standings.head())

,Rank,Points,Team id,Team Name,Played,Win,Loss,Draw,GoalsAgainst,Goal Difference,Form
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

4.LOADING THE DATA TO MYSQL

In [28]:
MYSQL_HOST=os.getenv("MYSQL_HOST")
MYSQL_PORT=os.getenv("MYSQL_PORT")
MYSQL_DATABASE=os.getenv("MYSQL_DATABASE")
MYSQL_USER=os.getenv("MYSQL_USER")
MYSQL_PASSWORD=os.getenv("MYSQL_PASSWORD")

Creating server connection

In [81]:
server_conn=connector.connect(
    host=MYSQL_HOST,
    port=MYSQL_PORT,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    connection_timeout=10,
    autocommit=False,
    raise_on_warnings=True
)

server_cur=server_conn.cursor()
print(f"[SUCESS]-Connected to MYSQl server")

[SUCESS]-Connected to MYSQl server

In [68]:
server_cur.close()
server_conn.close()

Creating database connection

In [82]:
db_connection=connector.connect(
    host=MYSQL_HOST,
    port=MYSQL_PORT,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    database=MYSQL_DATABASE,
    connection_timeout=10,
    autocommit=False,
    raise_on_warnings=True
)

cur=db_connection.cursor()
print(f"[SUCESS]-Connected to Database")

[SUCESS]-Connected to Database

In [83]:
sql_table="standings"
cur.execute("SHOW TABLES LIKE %s",(f"{sql_table}",))


if cur.fetchone() is None:
    raise SystemExit(f"Table {sql_table} is not found.")
else:
    print(f"This table {sql_table} exists")

This table standings exists

In [84]:
#Start the UPSERT OPERATION

table_cols=['Rank','Points','Team id','Team Name','Played','Win','Loss','Draw','GoalsAgainst','Goal Difference','Form']

standing_df=df[table_cols]

In [85]:
standing_df

standings_records_tuples=standing_df.itertuples(index=False,name=None)

list_of_standings_records_tuples=list(standings_records_tuples)

Inserting data to the table

In [86]:
UPSERT_SQL=f"""
INSERT INTO {sql_table}
(`Rank`,Points,Team_id,Team_Name,Played,Win,Loss,Draw,Goals_Against,Goals_Difference,Form)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) AS src
ON DUPLICATE KEY UPDATE
`Rank`=src.Rank,
Points=src.Points,
Team_id=src.Team_id,
Team_name=src.Team_Name,
Played=src.Played,
Win=src.Win,
Loss=src.Loss,
Draw=src.Draw,
Goals_Against=src.Goals_Against,
Goals_Difference=src.Goals_Difference,
Form=src.Form;

"""

In [87]:
no_of_rows_uploaded_to_mysql=len(list_of_standings_records_tuples)

Verifying the upload

In [88]:
try:
    cur.executemany(UPSERT_SQL,list_of_standings_records_tuples)
    db_connection.commit()
    print(f"[SUCCESS]-Upsert attempted for {no_of_rows_uploaded_to_mysql} rows")
except Exception as e:
    print(f"[Failed]-Rollback initiated due to error {e}")

finally:
    cur.close()
    db_connection.close()
    print("Database Connection Closed")

[SUCCESS]-Upsert attempted for 5 rows
Database Connection Closed