1.INSTALLING LIBRARIES

In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vandita\anaconda3\lib\site-packages (9.5.0)

In [30]:
import os
import json
import requests
import pandas as pd
from mysql import connector
from dotenv import load_dotenv

In [4]:
load_dotenv()

True

In [ ]:
# API_KEY=os.getenv("API_KEY")
# API_HOST=os.getenv("API_HOST")
# SEASON=2023
# LEAGUE_ID=4328
# print(LEAGUE_ID)

4328

In [ ]:
# url="https://www.thesportsdb.com/api/v1/json"
# headers = {
# 	"x-rapidapi-key": API_KEY,
# 	"x-rapidapi-host": API_HOST
# }

# querystring={"league":LEAGUE_ID,
#              "season":SEASON}

EXTRACTING DATA FROM API

In [90]:
API_KEY=os.getenv("API_KEY")
LEAGUE_ID=4328
print(API_KEY)

123

In [102]:
#url="https://www.thesportsdb.com/api/v1/json/123/lookuptable.php"
url="https://www.thesportsdb.com/api/v1/json/{API_KEY}/lookuptable.php"

querystring={"l":LEAGUE_ID}

In [103]:
response=requests.get(url=url,params=querystring)
print(response.status_code)

404

In [97]:
payload=response.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [50]:
payload

{'table': [{'idStanding': '6291509',
   'intRank': '1',
   'idTeam': '133604',
   'strTeam': 'Arsenal',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2025-2026',
   'strForm': 'WWWWD',
   'strDescription': 'Promotion - Champions League (League phase: )',
   'intPlayed': '9',
   'intWin': '7',
   'intLoss': '1',
   'intDraw': '1',
   'intGoalsFor': '16',
   'intGoalsAgainst': '3',
   'intGoalDifference': '13',
   'intPoints': '22',
   'dateUpdated': '2025-10-29 23:00:04'},
  {'idStanding': '6291510',
   'intRank': '2',
   'idTeam': '134301',
   'strTeam': 'Bournemouth',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/y08nak1534071116.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2025-2026',
   'strForm': 'WDWDD',
   'strDescription': 'Promotion - Champions League (League phase: )',
   'intPlayed': '9',
   'intWin': '5',
   'intLoss': '1',
   'intDraw': '3',
   'intGoalsFor': '16',
   'intGoalsAgainst': '11',
   'intGoalDifference': '5',
   'intPoints': '18',
   'dateUpdated': '2025-10-29 23:00:04'},
  {'idStanding': '6291511',
   'intRank': '3',
   'idTeam': '133616',
   'strTeam': 'Tottenham Hotspur',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/dfyfhl1604094109.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2025-2026',
   'strForm': 'WLWDD',
   'strDescription': 'Promotion - Champions League (League phase: )',
   'intPlayed': '9',
   'intWin': '5',
   'intLoss': '2',
   'intDraw': '2',
   'intGoalsFor': '17',
   'intGoalsAgainst': '7',
   'intGoalDifference': '10',
   'intPoints': '17',
   'dateUpdated': '2025-10-29 23:00:04'},
  {'idStanding': '6291512',
   'intRank': '4',
   'idTeam': '133603',
   'strTeam': 'Sunderland',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/tprtus1448813498.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2025-2026',
   'strForm': 'WWLWD',
   'strDescription': 'Promotion - Champions League (League phase: )',
   'intPlayed': '9',
   'intWin': '5',
   'intLoss': '2',
   'intDraw': '2',
   'intGoalsFor': '11',
   'intGoalsAgainst': '7',
   'intGoalDifference': '4',
   'intPoints': '17',
   'dateUpdated': '2025-10-29 23:00:04'},
  {'idStanding': '6291513',
   'intRank': '5',
   'idTeam': '133613',
   'strTeam': 'Manchester City',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2025-2026',
   'strForm': 'LWWWD',
   'strDescription': 'Promotion - Europa League (League phase: )',
   'intPlayed': '9',
   'intWin': '5',
   'intLoss': '3',
   'intDraw': '1',
   'intGoalsFor': '17',
   'intGoalsAgainst': '7',
   'intGoalDifference': '10',
   'intPoints': '16',
   'dateUpdated': '2025-10-29 23:00:04'}]}

In [8]:
formatted_response=json.dumps(payload,indent=4)
print(formatted_response)

{
    "table": [
        {
            "idStanding": "6300381",
            "intRank": "1",
            "idTeam": "133604",
            "strTeam": "Arsenal",
            "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png/tiny",
            "idLeague": "4328",
            "strLeague": "English Premier League",
            "strSeason": "2025-2026",
            "strForm": "WWWWD",
            "strDescription": "Promotion - Champions League (League phase: )",
            "intPlayed": "9",
            "intWin": "7",
            "intLoss": "1",
            "intDraw": "1",
            "intGoalsFor": "16",
            "intGoalsAgainst": "3",
            "intGoalDifference": "13",
            "intPoints": "22",
            "dateUpdated": "2025-10-31 23:00:01"
        },
        {
            "idStanding": "6300382",
            "intRank": "2",
            "idTeam": "134301",
            "strTeam": "Bournemouth",
            "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/y08nak1534071116.png/tiny",
            "idLeague": "4328",
            "strLeague": "English Premier League",
            "strSeason": "2025-2026",
            "strForm": "WDWDD",
            "strDescription": "Promotion - Champions League (League phase: )",
            "intPlayed": "9",
            "intWin": "5",
            "intLoss": "1",
            "intDraw": "3",
            "intGoalsFor": "16",
            "intGoalsAgainst": "11",
            "intGoalDifference": "5",
            "intPoints": "18",
            "dateUpdated": "2025-10-31 23:00:01"
        },
        {
            "idStanding": "6300383",
            "intRank": "3",
            "idTeam": "133616",
            "strTeam": "Tottenham Hotspur",
            "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/dfyfhl1604094109.png/tiny",
            "idLeague": "4328",
            "strLeague": "English Premier League",
            "strSeason": "2025-2026",
            "strForm": "WLWDD",
            "strDescription": "Promotion - Champions League (League phase: )",
            "intPlayed": "9",
            "intWin": "5",
            "intLoss": "2",
            "intDraw": "2",
            "intGoalsFor": "17",
            "intGoalsAgainst": "7",
            "intGoalDifference": "10",
            "intPoints": "17",
            "dateUpdated": "2025-10-31 23:00:01"
        },
        {
            "idStanding": "6300384",
            "intRank": "4",
            "idTeam": "133603",
            "strTeam": "Sunderland",
            "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/tprtus1448813498.png/tiny",
            "idLeague": "4328",
            "strLeague": "English Premier League",
            "strSeason": "2025-2026",
            "strForm": "WWLWD",
            "strDescription": "Promotion - Champions League (League phase: )",
            "intPlayed": "9",
            "intWin": "5",
            "intLoss": "2",
            "intDraw": "2",
            "intGoalsFor": "11",
            "intGoalsAgainst": "7",
            "intGoalDifference": "4",
            "intPoints": "17",
            "dateUpdated": "2025-10-31 23:00:01"
        },
        {
            "idStanding": "6300385",
            "intRank": "5",
            "idTeam": "133613",
            "strTeam": "Manchester City",
            "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/tiny",
            "idLeague": "4328",
            "strLeague": "English Premier League",
            "strSeason": "2025-2026",
            "strForm": "LWWWD",
            "strDescription": "Promotion - Europa League (League phase: )",
            "intPlayed": "9",
            "intWin": "5",
            "intLoss": "3",
            "intDraw": "1",
            "intGoalsFor": "17",
            "intGoalsAgainst": "7",
            "intGoalDifference": "10",
            "intPoints": "16",
            "dateUpdated": "2025-10-31 23:00:01"
        }
    ]
}

Transformation

In [9]:
import pandas as pd

df = pd.DataFrame(payload["table"])
display(df.head())

,idStanding,intRank,idTeam,strTeam,strBadge,idLeague,strLeague,strSeason,strForm,strDescription,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints,dateUpdated
0,6300381,1,133604,Arsenal,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWWWD,Promotion - Champions League (League phase: ),9,7,1,1,16,3,13,22,2025-10-31 23:00:01
1,6300382,2,134301,Bournemouth,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WDWDD,Promotion - Champions League (League phase: ),9,5,1,3,16,11,5,18,2025-10-31 23:00:01
2,6300383,3,133616,Tottenham Hotspur,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WLWDD,Promotion - Champions League (League phase: ),9,5,2,2,17,7,10,17,2025-10-31 23:00:01
3,6300384,4,133603,Sunderland,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWLWD,Promotion - Champions League (League phase: ),9,5,2,2,11,7,4,17,2025-10-31 23:00:01
4,6300385,5,133613,Manchester City,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,LWWWD,Promotion - Europa League (League phase: ),9,5,3,1,17,7,10,16,2025-10-31 23:00:01

In [64]:
df.head()

,idStanding,intRank,idTeam,strTeam,strBadge,idLeague,strLeague,strSeason,strForm,strDescription,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints,dateUpdated
0,6291509,1,133604,Arsenal,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWWWD,Promotion - Champions League (League phase: ),9,7,1,1,16,3,13,22,2025-10-29 23:00:04
1,6291510,2,134301,Bournemouth,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WDWDD,Promotion - Champions League (League phase: ),9,5,1,3,16,11,5,18,2025-10-29 23:00:04
2,6291511,3,133616,Tottenham Hotspur,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WLWDD,Promotion - Champions League (League phase: ),9,5,2,2,17,7,10,17,2025-10-29 23:00:04
3,6291512,4,133603,Sunderland,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,WWLWD,Promotion - Champions League (League phase: ),9,5,2,2,11,7,4,17,2025-10-29 23:00:04
4,6291513,5,133613,Manchester City,https://r2.thesportsdb.com/images/media/team/b...,4328,English Premier League,2025-2026,LWWWD,Promotion - Europa League (League phase: ),9,5,3,1,17,7,10,16,2025-10-29 23:00:04

In [10]:

print(df.columns.tolist())

['idStanding', 'intRank', 'idTeam', 'strTeam', 'strBadge', 'idLeague', 'strLeague', 'strSeason', 'strForm', 'strDescription', 'intPlayed', 'intWin', 'intLoss', 'intDraw', 'intGoalsFor', 'intGoalsAgainst', 'intGoalDifference', 'intPoints', 'dateUpdated']

In [11]:
df = df[['intRank', 'intPoints', 'idTeam','strTeam',"intPlayed",'intWin','intLoss','intDraw','intGoalsAgainst','intGoalDifference','strForm']]
display(df.head())

,intRank,intPoints,idTeam,strTeam,intPlayed,intWin,intLoss,intDraw,intGoalsAgainst,intGoalDifference,strForm
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

In [16]:
df = df.rename(columns={
    'intRank': 'Rank',
    'intPoints': 'Points',
    'idTeam': 'Team id',
    'strTeam':'Team Name',
    'intPlayed':'Played',
    'intWin':'Win',
    'intLoss':'Loss',
    'intDraw':'Draw',
    'intGoalsAgainst':'GoalsAgainst',
    'intGoalDifference':'Goal Difference',
    'strForm':'Form'
})

display(df.head())

,Rank,Points,Team id,Team Name,Played,Win,Loss,Draw,GoalsAgainst,Goal Difference,Form
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

In [ ]:
#df.info()
#print(df.dtypes)


# converting to neumeric data types

df['Rank'] = df['Rank'].astype(int)
df['Points'] = df['Points'].astype(int)
df['Team id'] = df['Team id'].astype(int)
df['Played'] = df['Played'].astype(int)
df['Win'] = df['Win'].astype(int)
df['Loss'] = df['Loss'].astype(int)
df['Draw'] = df['Draw'].astype(int)
df['GoalsAgainst'] = df['GoalsAgainst'].astype(int)
df['Goal Difference'] = df['Goal Difference'].astype(int)

In [25]:
print(df.dtypes)

Rank                int64
Points              int64
Team id             int64
Team Name          object
Played              int64
Win                 int64
Loss                int64
Draw                int64
GoalsAgainst        int64
Goal Difference     int64
Form               object
dtype: object

In [34]:
standings=df
display(standings.head())

,Rank,Points,Team id,Team Name,Played,Win,Loss,Draw,GoalsAgainst,Goal Difference,Form
0,1,22,133604,Arsenal,9,7,1,1,3,13,WWWWD
1,2,18,134301,Bournemouth,9,5,1,3,11,5,WDWDD
2,3,17,133616,Tottenham Hotspur,9,5,2,2,7,10,WLWDD
3,4,17,133603,Sunderland,9,5,2,2,7,4,WWLWD
4,5,16,133613,Manchester City,9,5,3,1,7,10,LWWWD

Loading data

In [28]:
MYSQL_HOST=os.getenv("MYSQL_HOST")
MYSQL_PORT=os.getenv("MYSQL_PORT")
MYSQL_DATABASE=os.getenv("MYSQL_DATABASE")
MYSQL_USER=os.getenv("MYSQL_USER")
MYSQL_PASSWORD=os.getenv("MYSQL_PASSWORD")

In [81]:
server_conn=connector.connect(
    host=MYSQL_HOST,
    port=MYSQL_PORT,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    connection_timeout=10,
    autocommit=False,
    raise_on_warnings=True
)

server_cur=server_conn.cursor()
print(f"[SUCESS]-Connected to MYSQl server")

[SUCESS]-Connected to MYSQl server

In [68]:
server_cur.close()
server_conn.close()

In [82]:
db_connection=connector.connect(
    host=MYSQL_HOST,
    port=MYSQL_PORT,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    database=MYSQL_DATABASE,
    connection_timeout=10,
    autocommit=False,
    raise_on_warnings=True
)

cur=db_connection.cursor()
print(f"[SUCESS]-Connected to Database")

[SUCESS]-Connected to Database

In [83]:
sql_table="standings"
cur.execute("SHOW TABLES LIKE %s",(f"{sql_table}",))


if cur.fetchone() is None:
    raise SystemExit(f"Table {sql_table} is not found.")
else:
    print(f"This table {sql_table} exists")

This table standings exists

In [84]:
#Start the UPSERT OPERATION

table_cols=['Rank','Points','Team id','Team Name','Played','Win','Loss','Draw','GoalsAgainst','Goal Difference','Form']

standing_df=df[table_cols]

In [85]:
standing_df

standings_records_tuples=standing_df.itertuples(index=False,name=None)

list_of_standings_records_tuples=list(standings_records_tuples)

In [86]:
UPSERT_SQL=f"""
INSERT INTO {sql_table}
(`Rank`,Points,Team_id,Team_Name,Played,Win,Loss,Draw,Goals_Against,Goals_Difference,Form)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) AS src
ON DUPLICATE KEY UPDATE
`Rank`=src.Rank,
Points=src.Points,
Team_id=src.Team_id,
Team_name=src.Team_Name,
Played=src.Played,
Win=src.Win,
Loss=src.Loss,
Draw=src.Draw,
Goals_Against=src.Goals_Against,
Goals_Difference=src.Goals_Difference,
Form=src.Form;

"""

In [87]:
no_of_rows_uploaded_to_mysql=len(list_of_standings_records_tuples)

In [88]:
try:
    cur.executemany(UPSERT_SQL,list_of_standings_records_tuples)
    db_connection.commit()
    print(f"[SUCCESS]-Upsert attempted for {no_of_rows_uploaded_to_mysql} rows")
except Exception as e:
    print(f"[Failed]-Rollback initiated due to error {e}")

finally:
    cur.close()
    db_connection.close()
    print("Database Connection Closed")

[SUCCESS]-Upsert attempted for 5 rows
Database Connection Closed